# Set persist.service.bdroid.* and bluetooth.* property values
set_prop(bluetooth_loader, bluetooth_prop)

allow bluetooth_loader smd_device:chr_file rw_file_perms;
allow bluetooth_loader sysfs_bluetooth_writable:file r_file_perms;
