allow system_app sysfs_sensors:file w_file_perms;
allow system_app selinuxfs:file { read open };
allow system_app wificond:binder call;
allow system_app qemu_hw_mainkeys_prop:file { read getattr open };
allow system_app time_daemon:unix_stream_socket connectto;
